<nav class="navbar">
  <div class="list">
    <a routerLink="/" class="link" routerLinkActive="linkFocus" [routerLinkActiveOptions]="{exact: true}">Home</a>
    <a routerLink="about-me" class="link" routerLinkActive="linkFocus">About me</a>
    <a routerLink="my-work" class="link" routerLinkActive="linkFocus">My Work</a>
    <a routerLink="resume" class="link" routerLinkActive="linkFocus">Resume</a>
    <a routerLink="contact" class="link" routerLinkActive="linkFocus">Contact</a>
  </div>
</nav>
