<div class="container" style="height:620px">
  <div class="content">
    <h1>Contact</h1>
    <p class="opacity">GET IN TOUCH</p>
    <form class="white">
      <div class="section">
        <label>Name</label>
        <input class="input" style="width:100%;" type="text" required name="Name">
      </div>
      <div class="section">
        <label>Email</label>
        <input class="input" style="width:100%;" type="text" required name="Email">
      </div>
      <div class="section">
        <label>Message</label>
        <input class="input" style="width:100%;" type="text" required name="Message">
      </div>
      <button type="submit" class="btn">Send</button>
    </form>
  </div>
  <a href="#" (click)="continue($event)">If there are orders, call me</a>
</div>
